.container {
  padding-left: 179px;
}

.header {
  height: 840px;
  position: relative;
  font-family: Larssei, Arial, Helvetica, sans-serif;
  padding-top: 27px;
  background-image: url('../img/bluerec.png');
  background-repeat: no-repeat;
  background-position: top right;

  &::after {
    content: '';
    width: 80%;
    height: 100%;
    background-color: #F4F9E2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    width: 741px;
    height: 875px;
    content: '';
    background-image: url('../img/man.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

}

.header__wrapper {
  position: relative;
  z-index: 1;
}

.header__box {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 160px;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  line-height: 27px;
  color: #62D0DF;
  font-weight: 700;
  cursor: pointer;
}
.header__nav {
  display: flex;
}
.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 233px;
}

.header__items {
  font-size: 14px;
  line-height: 15px;
  color: #22356F;
  font-weight: 400;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 128%;
    height: 1px;
    background-color: black;
    display: block;
    left: -5px;
    top: 40px;
    opacity: 0;
    transition: all .4s ease-out;
  }

  &:hover::after {
    opacity: 1;
    transition: all .2s ease-out;
    top: 26px;
  }
}

.header__button-contact {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #62D0DF;
  padding: 18px 32px;
  border-radius: 30px;
  cursor: pointer;
  border-width: 2px;
  border-color:#62D0DF;
  border-style: solid;
  opacity: 1;
  transition: all .4s ease-out, color .4s ease-out;

  &:hover {
    color:#62D0DF;
    background-color:transparent;
  }
}

.header__main {
  width: 39%;
}

.header__title {
    font-size: 48px;
    line-height: 53px;
    color: #22356F;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.header__subtitle {
  font-size: 24px;
  line-height: 42px;
  color: #22356F;
  font-weight: 400;
  margin-bottom: 63px;
}

.header__button-question {
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #F9B640;
  border: 2px;
  border-color: transparent;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 14px 33px;
  transition: all .4s ease-out, color .4s ease-out;
  cursor: pointer;

  &:hover {
    border-color: #F9B640;
    color: #F9B640;
    background: transparent;
  }

}

.header__button-action {
  font-size: 16px;
  line-height: 23px;
  color: #FAB63E;
  font-weight: 700;
  background:transparent;
  border: transparent;
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all .4s ease-out, color .4s ease-out;
  cursor: pointer;
  width: 158px;

  &:hover {
    border-color: #F9B640;
  }

}

.header__button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 75%;
}