.wrapper {
  background-color: #f4f9e2;
}

.container {
  padding-left: 179px;
}

.header {
  position: relative;
  font-family: Larssei, Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: top right;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fff;

  &::before {
    width: 85%;
    height: 100%;
    content: "";
    background-color: #f4f9e2;
    position: absolute;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    background-image: url("../img/man.png"), url("../img/bluerec.png");
    background-repeat: no-repeat;
    background-position: top right;
    padding-bottom: 74px;

    @media (max-width: 400px) {
      padding-bottom: 10px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 160px;
    align-items: center;
    padding-top: 27px;

    @media (max-width: 610px) {
      margin-bottom: 160px;
    }

    @media (max-width: 870px) {
      display: none;
    }
  }

  &__logo {
    font-size: 24px;
    line-height: 27px;
    color: #62d0df;
    font-weight: 700;
    cursor: pointer;

    @media (max-width: 870px) {
      padding-bottom: 50px;
    }

    @media (max-width: 510px) {
      padding-bottom: 0;
    }
  }

  &__nav {
    display: flex;

    @media (max-width: 870px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &__item {
    font-size: 14px;
    line-height: 15px;
    color: #22356f;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 128%;
      height: 1px;
      background-color: #000;
      display: block;
      left: -5px;
      top: 40px;
      opacity: 0;
      transition: opacity, top 0.4s ease-out;
    }

    &:hover::after {
      opacity: 1;
      transition: opacity, top 0.2s ease-out;
      top: 26px;
    }

    @media (min-width: 1440px) {
      font-size: 17px;
      line-height: 18px;
      margin-right: 23px;
    }
  }

  &__button-contact {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #62d0df;
    padding: 18px 32px;
    border-radius: 30px;
    cursor: pointer;
    border-width: 2px;
    border-color: #62d0df;
    border-style: solid;
    opacity: 1;
    transition: color, background-color 0.4s ease-out, color 0.4s ease-out;

    &:hover {
      color: #62d0df;
      background-color: transparent;
    }
  }

  &__content {
    width: 550px;

    @media (max-width: 1000px) {
      width: 430px;
    }

    @media (max-width: 510px) {
      width: 300px;
    }
  }

  &__text {
    font-size: 48px;
    line-height: 53px;
    color: #22356f;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;

    @media (max-width: 1000px) {
      font-size: 36px;
    }

    @media (max-width: 510px) {
      font-size: 26px;
      margin-bottom: 15px;
    }

    @media (max-width: 400px) {
      line-height: 44px;
    }
  }

  &__description {
    font-size: 24px;
    line-height: 42px;
    color: #22356f;
    font-weight: 400;
    margin-bottom: 63px;

    @media (max-width: 1000px) {
      font-size: 21px;
    }

    @media (max-width: 510px) {
      font-size: 18px;
      margin-bottom: 10px;
    }

    @media (max-width: 400px) {
      line-height: 34px;
    }
  }

  &__button-question {
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 700;
    background-color: #f9b640;
    border: 2px;
    border-color: transparent;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 14px 33px;
    transition: border-color, color, background 0.4s ease-out,
      color 0.4s ease-out;
    cursor: pointer;

    &:hover {
      border-color: #f9b640;
      color: #f9b640;
      background: transparent;
    }
  }

  &__button-action {
    font-size: 16px;
    line-height: 23px;
    color: #fab63e;
    font-weight: 700;
    background: transparent;
    border: transparent;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: border-color 0.4s ease-out, color 0.4s ease-out;
    cursor: pointer;
    width: 158px;

    &:hover {
      border-color: #f9b640;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 65%;

    @media (max-width: 1000px) {
      width: 83%;
    }

    @media (max-width: 510px) {
      width: 315px;
    }

    @media (max-width: 400px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
