.about-us {
  color: #22356F;
  font-family: Larsseit;
  display: flex;
  justify-content: space-between;
  height: 372px;
  letter-spacing: 0.06em;
  margin-top: 155px;
  padding-left: 106px;

  &__title {
    font-size: 16px;
    line-height: 23px; 
    font-weight: 400;
    text-transform: uppercase;
  }

  &__wrapper-content {
    width: 70%;
  }

  &__content {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    width: 592px;
  }
}
