.why {
  background-color:#62D0DF;
  color: #FFFFFF;
  font-family: Larsseit;

  &__wrapper { 
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 151px; 
    width: 54%;
  }

  &__content-title,
  &__content-subtitle {
    letter-spacing: -0.006em;
  }

  &__content-subtitle {
    font-size: 21px;
    line-height: 37px;
    font-weight: 200;
    width: 79.5%;

    &_bold {
      font-weight: 700;
    }
  }

  &__content-title {
    font-size: 36px;
    line-height: 27px;
    font-weight: 700;
  }

  &__img-wrapper {
    width: 533px;
    height: 604px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
