.also {
  
  font-family: "Larsseit";
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__wrapper-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    padding-left: 106px;
  }
  
  &__title {
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #22356F;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding-top: 113px;

  }

  &__subtitle {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #22356F;
    font-weight: 700;
    width: 80%;

  &_marker {
    color: #6CD3E1;
  }

  }

  &__text {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FAB63E;
    text-transform: uppercase;
    padding-bottom: 46px;
    font-weight: 700;
  }
}