.also {

  font-family: "Larsseit";
  display: flex;
  justify-content: space-between;


  &__img {
    height: auto;
    width: 480px;
  }

  &__wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    padding-left: 106px;
    padding-top: 113px;
    padding-bottom: 60px;
  }
  
  &__title {
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #22356F;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;

  }

  &__subtitle {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #22356F;
    font-weight: 700;
    width: 80%;

    &_marker {
      color: #6CD3E1;
    }

  }
}

.header__button_also {
  padding-bottom: 46px;
}