.also {
  font-family: "Larsseit";
  display: flex;

  @media (max-width: 510px) {
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    display: flex;
  }

  &__wrapper-img {
    @media (max-width: 510px) {
      display: none;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    @media (max-width: 1260px) {
      width: 400px;
    }

    @media (max-width: 1000px) {
      width: 300px;
    }

    @media (max-width: 760px) {
      width: 200px;
      height: auto;
    }
  }

  &__wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    padding: 106px 0 60px 179px;
    width: 750px;

    @media (max-width: 1920px) {
      width: 700px;
    }

    @media (max-width: 1410px) {
      padding-left: 70px;
    }

    @media (max-width: 1260px) {
      width: 466px;
      padding-right: 30px;
    }

    @media (max-width: 1000px) {
      width: 400px;
      padding-left: 60px;
      justify-content: space-between;
    }

    @media (max-width: 760px) {
      width: 380px;
      padding-bottom: 0;
      padding-top: 20px;
    }

    @media (max-width: 660px) {
      width: 240px;
      padding-left: 60px;
    }

    @media (max-width: 510px) {
      justify-content: space-between;
      height: 300px;
      width: 307px;
      padding: 0;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #22356f;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }

  &__subtitle {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #22356f;
    font-weight: 700;

    &_marker {
      color: #6cd3e1;
    }

    @media (max-width: 1260px) {
      font-size: 25px;
      line-height: 51px;
    }

    @media (max-width: 1000px) {
      font-size: 19px;
      line-height: 45px;
    }

    @media (max-width: 660px) {
      font-size: 15px;
      line-height: 33px;
    }
  }
}
