.site-block {
  font-family: "Larsseit";

  &__wrapper {
    @media(max-width: 1440px) {
      display: flex;
      justify-content: center;
    }

    @media(max-width: 510px) {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-flow: dense;
    padding-left: 0;
    margin: 0;
    margin-bottom: 120px;
    
    @media(max-width: 1440px) {
      width: 77%;
      grid-gap: 1em;
    }

    @media(max-width: 1000px) {
      width: 440px;
    }

  
    &_short {
      @media(min-width: 1441px) {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      }
    }
  }

  &__item {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3em 1em 6em 1em;

    @media(max-width: 1000px) {
      padding: 1em 1em 1em 1em;
    }

    @media(max-width: 510px) {
      font-size: 18px;
      line-height: 19px;
    }

    &_short {
      padding-bottom:0;
    }

    &_pink {
      background-color: #FFE2DE;
    }
  
    &_green {
      background-color: #C4E769 ;
    }

    &_turquoise {
      background-color:#62D0DF;
    }


    &_navy-blue {
      background-color:#22356F ;
    }

    &_blue {
      background-color:#0052C1 ;
    }

    &_strawberry {
      background-image: url('/img/strawberry.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &_turquoise {
      background-color:#62D0DF ;
    }

    &_white-purple {
      background-color:#DEE1FF ;
    }

    &_purple {
      background-color:#8F00FF ;
    }

    &::before {
      content: "";
      position: absolute;
      width: 53%;
      height: 1px;
      background-color: #FFFF;
      top: 22%;
      opacity: 0.6;

      @media(max-width: 510px) {
        width: 30%;
        top: 16%;
      }
    }
  }

  &__item-text {
    
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: #E9B730;
      border-radius: 50%;
      left: -23px;
      top: 8px;
    }
  }
}
