.site-block {
  font-family: "Larsseit";

  &_short {
    margin-bottom: 77px;
    @media (max-width: 1600px) {
      grid-template-columns: repeat(auto-fit, minmax(401px, 1fr));
    }

    @media (max-width: 760px) {
      display: flex;
      justify-content: center;
    }
  }

  &__wrapper {
    @media (max-width: 510px) {
      padding: 0;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-flow: dense;
    padding-left: 0;
    margin: 0;

    @media (max-width: 1450px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    @media (max-width: 1000px) {
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }

    @media (max-width: 760px) {
      grid-gap: 1em;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }

    @media (max-width: 510px) {
      grid-template-columns: repeat(auto-fit, minmax(307px, 1fr));
    }

    &_short {
      @media (min-width: 1600px) {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      }

      @media (max-width: 1601px) {
        grid-template-columns: repeat(auto-fit, minmax(401px, 1fr));
      }

      @media (max-width: 1450px) {
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
      }

      @media (max-width: 760px) {
        grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
      }
    }
  }

  &__item {
    color: #ffffff;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.006em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3em 1em 6em 0;

    @media (max-width: 1450px) {
      padding: 2em 1em 3em 1em;
    }

    @media (max-width: 1000px) {
      padding: 2em 1em 3em 1em;
    }

    @media (max-width: 1200px) {
      padding: 2em 1em 2em 1em;
    }

    @media (max-width: 510px) {
      font-size: 18px;
      line-height: 19px;
    }

    &_short {
      padding-bottom: 0;
    }

    &_pink {
      background-color: #ffe2de;
    }

    &_green {
      background-color: #c4e769;
    }

    &_turquoise {
      background-color: #62d0df;
    }

    &_navy-blue {
      background-color: #22356f;
    }

    &_blue {
      background-color: #0052c1;
    }

    &_strawberry {
      background-image: url("/img/strawberry.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &_turquoise {
      background-color: #62d0df;
    }

    &_white-purple {
      background-color: #dee1ff;
    }

    &_purple {
      background-color: #8f00ff;
    }

    &::before {
      content: "";
      position: absolute;
      width: 53%;
      height: 1px;
      background-color: #ffff;
      top: 22%;
      opacity: 0.6;

      @media (max-width: 510px) {
        width: 30%;
        top: 16%;
      }
    }
  }

  &__item-text {
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: #e9b730;
      border-radius: 50%;
      left: -23px;
      top: 8px;
    }
  }
}
