.footer {
  
  display: grid;
  grid-template-columns: repeat(5,1fr);
  font-family: Larsseit;
  height: 480px;
  grid-auto-rows: minmax(100px, auto);
  

  &__item {

  }

  &__item_wrapper {
    grid-row: 1/3;
    grid-column: 1/3;
  }

  &__item-img {

  }

  &__item_nav {
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356F;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__item_nav-text {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
    font-weight: 400;
  }

  &__item_block {
    grid-row: 3/4;
    grid-column: 1/6;
    background: #62D0DF;
  }

  &__item_origin {
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    font-weight: 700;
  }
}