.footer {
  background-color: #62d0df;
}
.footer-list {
  display: grid;
  grid-template-columns: 570px 1fr;
  grid-auto-rows: minmax(45px, auto);
  font-family: Larsseit;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;

  @media (max-width: 1555px) {
    grid-template-columns: 420px 1fr;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 300px 1fr;
    font-size: 11px;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__item_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 98px 40px 74px 68px;

    @media (max-width: 1555px) {
      padding-bottom: 48px;
    }

    @media (max-width: 1555px) {
      padding: 45px 25px 25px 45px;
    }

    @media (max-width: 1410px) {
      padding: 45px 15px 45px 15px;
    }

    @media (max-width: 1000px) {
      padding: 45px 10px 45px 10px;
      flex-wrap: wrap;
    }

    @media (max-width: 772px) {
      padding-top: 0;
      padding-bottom: 0;
      flex-wrap: wrap;
    }
  }

  &__wrapper {
    text-align: left;
    width: 300px;

    @media (max-width: 1410px) {
      width: 190px;
      padding: 10px;
    }

    @media (max-width: 1200px) {
      width: 150px;
    }

    @media (max-width: 1000px) {
      width: 135px;
      padding: 8px;
    }

    @media (max-width: 621px) {
      padding-bottom: 30px;
      padding-top: 20px;
    }
  }

  &__nav {
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356f;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text,
  &__number {
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
    font-weight: 400;
    text-decoration: none;
  }

  &__text {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: 1000px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @media (max-width: 772px) {
      padding-bottom: 0;
    }
  }

  &__item_long {
    grid-row: 2/2;
    grid-column: 1/4;
    background: #62d0df;
    padding-top: 25px;
  }

  &_organization {
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #ffffff;
    font-weight: 700;
  }
}
