.footer-list {
  display: grid;
  grid-template-columns: 570px 1fr;
  grid-auto-rows: minmax(45px, auto);
  font-family: Larsseit;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 14px;

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__item_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 98px 40px 74px 68px;
  }

  &__wrapper {
    width: 25%;
    text-align: left;
  }

  &__nav {
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356F;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text,
  &__number {
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
    font-weight: 400;
    text-decoration: none;
  }

  &__text {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__item_long {
    grid-row: 2/2;
    grid-column: 1/4;
    background: #62D0DF;
    padding-top: 25px;

  }

  &_organization {
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    font-weight: 700;
  }
}