@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit.woff2") format("woff2"),
  url("../fonts/Larsseit.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Light.woff2") format("woff2"),
    url("../fonts/Larsseit-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Medium.woff2") format("woff2"),
    url("../fonts/Larsseit-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-ExtraBold.woff2") format("woff2"),
    url("../fonts/Larsseit-ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}