body {
  font-family: Larsseit;
}

.main {
  overflow: hidden;
}

.container {
  padding-left: 179px;
  
  @media (max-width: 1200px ) {
    padding-left: 70px;
  }

  @media (max-width: 400px ) {
    padding-left: 45px;
    padding-right: 8px;
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

p {
  margin: 0;
}